RK_BUILDROOT_BASE_CFG="rk3506_coloraudio_buildroot"
# RK_YOCTO is not set
RK_ROOTFS_UBI=y
RK_ROOTFS_INSTALL_MODULES=y
# RK_WIFIBT is not set
# RK_ROOTFS_LOG_GUARDIAN is not set
RK_USB_PID=0x4430
RK_USB_PRODUCT="coloraudio"
RK_USB_UAC2=y
RK_UBOOT_CFG_FRAGMENTS="rk3506b rk3506_tb"
RK_UBOOT_SPL=y
RK_KERNEL_CFG="rk3506_defconfig"
RK_KERNEL_CFG_FRAGMENTS="coloraudio-v2.config"
RK_KERNEL_DTS_NAME="coloraudio-rk3506-v2-rgb-nand"
RK_BOOT_COMPRESSED=y
RK_BOOT_FIT_ITS_NAME="thunderboot.its"
RK_RECOVERY_FIT_ITS_NAME="thunderboot4recovery.its"
RK_EXTRA_PARTITION_NUM=0
RK_PARAMETER="coloraudio-parameter-flash.txt"
RK_USE_FIT_IMG=y
