/doc
/pcb/v1(error)
/pcb/v2(out)/coloryr-backups
/pcb/v2/coloryr-backups
/pcb/v2/gb
linux/MiniLoaderAll.bin
linux/update.img
linux/boot.img
linux/coloraudio
/ui/coloraudio
/pcb/v3/coloryr-backups
*.zip
/pcb/v3/gb
/ui/edit
/src/out
/src/.vs
/src/build/
.vscode
/src/log/
src/libs/libfreeaptx.so
