/doc
/pcb/v1(error)
/pcb/v2(out)/coloryr-backups
/pcb/v2/coloryr-backups
/pcb/v2/gb
pcb/v2/~coloryr.kicad_pcb.lck
pcb/v2/~coloryr.kicad_sch.lck
linux/MiniLoaderAll.bin
linux/update.img
linux/boot.img
linux/coloraudio
/ui/coloraudio
