// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"

/ {
	model = "ColorAudio V1-T113";
	compatible = "coloryr,coloraudio-t113-v1", "allwinner,sun8i-t113s";

	chosen {
		bootargs = "mem=128M ubi.mtd=3 rootfstype=ubifs root=ubi0:rootfs rw rootwait console=ttyS0,115200 earlyprintk=sunxi-uart,0x02500000 init=/sbin/init";
		stdout-path = "serial0:115200n8";
	};

	aliases {
		serial0 = &uart0;
		mmc0 = &mmc0;
		mmc1 = &mmc1;      // AP6256 WiFi
        mmc2 = &mmc2;      // TF卡
		i2c1 = &i2c1;
		i2c2 = &i2c2;
	};

	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_vcc_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

	reg_avdd2v8: regulator-avdd {
		compatible = "regulator-fixed";
		regulator-name = "avdd2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_vcc_3v3>;
	};

	// pwm2: pwm2@2000c12 {
	// 	compatible = "allwinner,sunxi-pwm2";
	// 	pinctrl-names = "active", "sleep";
	// 	reg = <0x0 0x02000c12 0x0 0x4>;
	// 	reg_base = <0x02000c00>;
	// };

	//dmic_codec: dmic-codec {
	//	compatible = "dmic-codec";
	//	num-channels = <2>;
	//	#sound-dai-cells = <0>;
	//};

	//dmic-sound {
	//	compatible = "simple-audio-card";
	//	#address-cells = <1>;
	//	#size-cells = <0>;

	//	simple-audio-card,dai-link@0 {
	//		format = "pdm";
	//		frame-master = <&link0_cpu>;
	//		bitclock-master = <&link0_cpu>;

	//		link0_cpu: cpu {
	//			sound-dai = <&dmic>;
	//		};

	//		link0_codec: codec {
	//			sound-dai = <&dmic_codec>;
	//		};
	//	};
	//};

	leds {
		compatible = "gpio-leds";

		power {
			linux,default-trigger = "default-on";
			label = "power";
			gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>;
		};
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&pio {
	vcc-pb-supply = <&reg_vcc_3v3>;
	vcc-pc-supply = <&reg_vcc_3v3>;
	vcc-pd-supply = <&reg_vcc_3v3>;
	vcc-pe-supply = <&reg_avdd2v8>;
	vcc-pf-supply = <&reg_vcc_3v3>;
	vcc-pg-supply = <&reg_vcc_3v3>;

    i2c1_pins_a: i2c1@0 {
        pins = "PE0", "PE1";
        function = "i2c1";
    };

    i2c2_pins_a: i2c2@0 {
        pins = "PE12", "PE13";
        function = "i2c2";
    };

	rgb24_pins_a: rgb24@0 {
		allwinner,pins = "PB2", "PB3", "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", \
			"PB4", "PB5", "PD6", "PD7", "PD8", "PD9", "PD10", "PD11", \
			"PB6", "PB7", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", \
			"PD18", "PD19", "PD20", "PD21";
		allwinner,pname = "lcdd0", "lcdd1", "lcdd2", "lcdd3", "lcdd4", "lcdd5", "lcdd6", "lcdd7", \
			"lcdd8", "lcdd9", "lcdd10", "lcdd11", "lcdd12", "lcdd13", "lcdd14", "lcdd15", \
			"lcdd16", "lcdd17", "lcdd18", "lcdd19", "lcdd20", "lcdd21", "lcdd22", "lcdd23", \
			"lcdclk", "lcdde", "lcdhsync", "lcdvsync";
		allwinner,function = "lcd0";
		allwinner,muxsel = <2>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};
	rgb24_pins_b: rgb24@1 {
		allwinner,pins = "PB2", "PB3", "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", \
			"PB4", "PB5", "PD6", "PD7", "PD8", "PD9", "PD10", "PD11", \
			"PB6", "PB7", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", \
			"PD18", "PD19", "PD20", "PD21";
		allwinner,pname = "lcdd0", "lcdd1", "lcdd2", "lcdd3", "lcdd4", "lcdd5", "lcdd6", "lcdd7", \
			"lcdd8", "lcdd9", "lcdd10", "lcdd11", "lcdd12", "lcdd13", "lcdd14", "lcdd15", \
			"lcdd16", "lcdd17", "lcdd18", "lcdd19", "lcdd20", "lcdd21", "lcdd22", "lcdd23", \
			"lcdclk", "lcdde", "lcdhsync", "lcdvsync";
		allwinner,function = "io_disabled";
		allwinner,muxsel = <7>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	uart0_pins_a: uart0_pins@0 {
		pins = "PE2", "PE3";
		function = "uart0";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart0_pins_b: uart0_pins@1 {
		pins = "PE2", "PE3";
		function = "gpio_in";
	};

	uart2_pins_a: uart2_pins@0 {
		pins = "PE2", "PE3";
		function = "uart2";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart2_pins_b: uart2_pins@1 {
		pins = "PE2", "PE3";
		function = "gpio_in";
	};

	pwm2_pin_a: pwm2@0 {
		pins = "PE8";
		function = "pwm2";
		drive-strength = <10>;
		bias-pull-up;
	};

	pwm2_pin_b: pwm2@1 {
		pins = "PE8";
	};

	i2s1_pins_a: i2s1@0 {
		pins = "PG12","PG13","PG15";
		function = "i2s1";
		drive-strength = <20>;       
        bias-disable; 
	};

    rotary_pins: rotary-pins {
        pins = "PG11", "PG12";
        function = "gpio_in";
        bias-pull-up;
    };
};

&uart0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart0_pins_a>;
	pinctrl-1 = <&uart0_pins_b>;
	status = "okay";
};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4345c5";
		device-wakeup-gpios = <&pio 4 6 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&pio 4 7 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&pio 4 5 GPIO_ACTIVE_HIGH>;
	};
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	status = "okay";

	spi_nand: spi_nand@0 {
        #address-cells = <1>;
        #size-cells = <1>;
		compatible = "spi-nand";
		reg = <0>;

		partition@0 {
			label = "awboot";
			reg = <0x0 0x40000>;	/* 256K */
			read-only;
		};

		partition@40000 {
			label = "dtb";
			reg = <0x40000 0x40000>;  /* 256k */
			read-only;
		};

		partition@80000 {
			label = "kernel";
			reg = <0x80000 0x780000>;  /* 7.5MB */
			read-only;
		};

		partition@800000 {
			label = "rootfs";
			reg = <0x800000 0x7800000>;
		};
	};
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	non-removable;
	bus-width = <4>;
	status = "okay";

	brcm: sdio-wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm43456-sdio";
		brcm,drive-strength = <10>;
		wifi-reg-on-gpio = <&pio 4 4 GPIO_ACTIVE_HIGH>; 
        host-wake-gpio = <&pio 3 10 GPIO_ACTIVE_HIGH>;
	};
};

&usbphy {
	usb0_vbus-supply = <&reg_vcc5v>;
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&dmic {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	dr_mode = "host";
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&gpadc {
	channel_num = <1>;
	channel_select = <0x1>;
	channel_data_select = <0>;
	channel_compare_select = <0x1>;
	channel_cld_select = <0x1>;
	channel_chd_select = <0>;
	channel0_compare_lowdata = <1700000>;
	channel0_compare_higdata = <1200000>;
	channel1_compare_lowdata = <460000>;
	channel1_compare_higdata = <1200000>;
	status = "okay";
};

&tcon_lcd0 {
	
	/* part 1 */
	lcd_used            = <1>;
	lcd_driver_name     = "default_lcd";
	/* part 2 */
	lcd_if = <0>;
	lcd_hv_if = <0>;
	/* part 3 */
	lcd_x               = <854>;
	lcd_y               = <480>;
	lcd_width           = <154>;
	lcd_height          = <85>;

	lcd_dclk_freq       = <28>;
	lcd_hbp             = <30>;
	lcd_ht              = <902>;
	lcd_hspw            = <6>;
	lcd_vbp             = <30>;
	lcd_vt              = <523>;
	lcd_vspw            = <1>;

	/* part 5 */
	lcd_frm = <1>;
	lcd_io_phase = <0x0000>;
	lcd_gamma_en = <0>;
	lcd_cmap_en = <0>;
	lcd_hv_clk_phase = <0>;
	lcd_hv_sync_polarity= <0>;
				
	/* part 6 */
	lcd_power = "vcc-lcd";
	lcd_pin_power = "vcc-pd";
	pinctrl-0 = <&rgb24_pins_a>;
	pinctrl-1 = <&rgb24_pins_b>;
};

// &pwm2 {
// 	pinctrl-names = "active", "sleep";
// 	pinctrl-0 = <&pwm2_pin_a>;
// 	pinctrl-1 = <&pwm2_pin_b>;
// 	status = "okay";
// };

&i2c1 {
	pinctrl-0 = <&i2c1_pins_a>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins_a>;
	pinctrl-names = "default";
	status = "okay";
};

&i2s1 {
	tdm_config = <0x01>;
	pinctrl-names= "default";
	pinctrl-0 = <&i2s1_pins_a>;
	status = "okay";
};