CONFIG_INPUT_GPIO_ROTARY_ENCODER=y

CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y

CONFIG_SND_SOC_CS43130=y
CONFIG_SND_SOC_SPDIF=y

CONFIG_AIC_WLAN_SUPPORT=y
CONFIG_BT_AICBTUSB=m
CONFIG_AIC8800_WLAN_SUPPORT=m
CONFIG_AIC_LOADFW_SUPPORT=m

CONFIG_CHARGER_BQ25890=y

CONFIG_BT=y
CONFIG_BT_HCIUART=y
CONFIG_CFG80211=m
CONFIG_CRYPTO_DRBG=y
CONFIG_CRYPTO_DRBG_MENU=y
CONFIG_CRYPTO_ECC=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_KPP=y
CONFIG_CRYPTO_LIB_ARC4=m
CONFIG_CRYPTO_RNG=y
CONFIG_CRYPTO_RNG_DEFAULT=y
CONFIG_CRYPTO_SHA512=y
CONFIG_MAC80211=m
CONFIG_RFKILL=y
CONFIG_RFKILL_RK=y
CONFIG_WIRELESS_EX=y
# CONFIG_WL_ROCKCHIP is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_USB_USBNET is not set

# CONFIG_BLK_DEV_SD=y
# CONFIG_CONFIGFS_FS=y
# CONFIG_CRYPTO_CRC32C=y
# CONFIG_EXFAT_FS=y
# CONFIG_EXT4_FS=y
# CONFIG_FAT_FS=y
# CONFIG_FS_MBCACHE=y
# CONFIG_JBD2=y
# CONFIG_NLS_CODEPAGE_437=y
# CONFIG_NLS_ISO8859_1=y
# CONFIG_NTFS3_FS=y
# CONFIG_PHY_ROCKCHIP_INNO_USB2=y
# CONFIG_SCSI=y
# CONFIG_SCSI_COMMON=y
# CONFIG_SCSI_MOD=y

# CONFIG_USB=y
# CONFIG_USB_COMMON=y
# CONFIG_USB_CONFIGFS=y
# CONFIG_USB_DWC2=y
# CONFIG_USB_DWC2_HOST=y
# CONFIG_USB_DWC2_PERIPHERAL=y
# CONFIG_USB_F_FS=y
# CONFIG_USB_GADGET=y
# CONFIG_USB_LIBCOMPOSITE=y
# CONFIG_USB_STORAGE=y
# CONFIG_VFAT_FS=y

# CONFIG_USB_HID=y
# CONFIG_USB_SUPPORT=y
# CONFIG_USB_EHCI_TT_NEWSCHED=y

# CONFIG_USB_U_AUDIO=y
# CONFIG_USB_F_MASS_STORAGE=y
# CONFIG_USB_F_FS=y
# CONFIG_USB_F_UAC2=y
# CONFIG_USB_F_HID=y