// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */
/dts-v1/;
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/suspend/rockchip-rk3506.h>
#include <dt-bindings/display/media-bus-format.h>
#include "rk3506.dtsi"

/ {	
	model = "Rockchip RK3506 ColorAudio v2";
	compatible = "rockchip,coloraudio-v2", "rockchip,rk3506";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 loglevel=8 console=ttyFIQ0 ubi.mtd=5 root=ubi0:rootfs rw rootfstype=ubifs rootwait snd_aloop.index=7 snd_aloop.use_raw_jiffies=1";
	};
	
	vcc3v3_lcd_n: vcc3v3-lcd0-n {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc3v3_lcd_n";
		regulator-boot-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
    };
	
	vcc5v0_otg0: vcc5v0-otg0-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
    };
	
	vcc5v0_otg1: vcc5v0-otg1-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg1";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
    };

	vcc12v_dc: vcc12v-dc {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dc";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dc>;
	};

	vcc3v3_stb: vcc3v3-stb {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_stb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};
	
	vcc3v3_sd: vcc3v3-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
		
	vccio_sd: vccio-sd {
		compatible = "regulator-gpio";
		regulator-name = "vccio_sd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		states = <3300000 1
				  1800000 0>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_stb>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0_4ch_0 0 5000 1>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <710000>;
		regulator-max-microvolt = <1207000>;
		regulator-init-microvolt = <1011000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc_sys>;
	};

	// dummy_codec: dummy-codec {
	// 	status = "okay";
    //     #sound-dai-cells = <0>;
    //     compatible = "rockchip,dummy-codec";
    //     clocks = <&mclkout_sai3>;
	// 	clock-names = "mclk";
    // };

	// dac_sound: dac-sound {
	// 	status = "okay";
	// 	compatible = "simple-audio-card";
	// 	simple-audio-card,name = "cirrus,cs43198";
	// 	simple-audio-card,format = "i2s";
	// 	simple-audio-card,mclk-fs = <512>;
	// 	simple-audio-card,bitclock-master = <&dac_master>;
	// 	simple-audio-card,frame-master = <&dac_master>;
	// 	simple-audio-card,cpu {
	// 		sound-dai = <&sai3>;
	// 	};
	// 	dac_master: simple-audio-card,codec {
	// 	    sound-dai = <&cs43198_1>;
	// 	};
	// };

	sai3_cs43198_sound: sai3-cs43198-sound {
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "sai3-cs43198";
		rockchip,format = "i2s";
		rockchip,mclk-fs = <512>;
		rockchip,cpu = <&sai3>;
		rockchip,codec = <&cs43198_1>;
		rockchip,audio-routing =
			"Headphone", "HPOUTA",
			"Headphone", "HPOUTB";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <16000>;
		};

		vol-down-key {
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <420000>;
		};

		menu-key {
			label = "menu";
			linux,code = <KEY_MENU>;
			press-threshold-microvolt = <800000>;
		};

		esc-key {
			label = "esc";
			linux,code = <KEY_ESC>;
			press-threshold-microvolt = <1200000>;
		};
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;	/* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
	};
	
	leds: leds {
		status = "okay";
		compatible = "gpio-leds";

		work_led: work-led {
			gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&leds_gpio>;
		};
		power: power {
			gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-off";
			pinctrl-names = "default";
			pinctrl-0 = <&power_gpio>;
			default-state = "on";
		};
		dac_reset: dac-reset {
			gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-off";
			pinctrl-names = "default";
			pinctrl-0 = <&dac_reset_gpio>;
			default-state = "on";
		};
    };
		
	gpio_keys: gpio-keys {
		status = "okay";
		compatible = "gpio-keys";

		power_key: power-key {
			label = "power-key";
			pinctrl-names = "default";
			pinctrl-0 = <&power_key_gpio>;
			gpios = <&gpio3 RK_PB5 GPIO_ACTIVE_LOW>;
			linux,code = <0x01>;
			wakeup-source;
		};
		rotary_key: rotary-key {
			label = "rotary-key";
			pinctrl-names = "default";
			pinctrl-0 = <&rotary_key_gpio>;
			gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
			linux,code = <0x02>;
			wakeup-source;
		};
	};

	rotary: rotary {
		compatible = "rotary-encoder";
		gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>, <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
		linux,axis = <0>;
		rotary-encoder,relative-axis;
		pinctrl-names = "default";
		pinctrl-0 = <&rotary_left_right>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
	};

	backlight: backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&pwm0_4ch_2 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};
	
	panel: panel {
		status = "okay";
		compatible = "simple-panel";
		bus-format = <MEDIA_BUS_FMT_RGB888_1X24>;
		backlight = <&backlight>;
		enable-gpios = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;
		enable-delay-ms = <20>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_en_gpio>;
		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <25000000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <8>;
				hfront-porch = <8>;
				vback-porch = <16>;
				vfront-porch = <16>;
				hsync-len = <4>;
				vsync-len = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&rgb_out_panel>;
			};
		};
	};
};

&pinctrl {
	lcd {
		lcd_en_gpio: lcd-en-gpio {
			rockchip,pins = <2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdcard {
		sd_det: sd-det {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
    };

	led {
		leds_gpio: leds-gpio {
			rockchip,pins = <0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		power_gpio: power-gpio {
			rockchip,pins = <3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	key {
		power_key_gpio: power-key-gpio {
			rockchip,pins = <3 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		rotary_key_gpio: rotary-key-gpio {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	rotary {
		rotary_left_right: rotary-left-right {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>, <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	charger {
		charger_gpio: charger-gpio {
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	dac {
		dac_gpio: dac-gpio {
			rockchip,pins = <0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		dac_reset_gpio: dac-reset-gpio {
			rockchip,pins = <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	touch {
		touch_gpio: touch-gpio {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		reset_gpio: reset-gpio {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&audio_codec {
	status = "okay";
};

&cma {
	size = <0x1600000>;
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&flexbus_fspi {
	pinctrl-names = "default";
	pinctrl-0 = <&flexbus0m1_pins &flexbus0_clk_pins
		     &flexbus0_d0_pins &flexbus0_d1_pins
		     &flexbus0_d2_pins &flexbus0_d3_pins>;
	status = "disabled";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&fspi {
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io15_i2c0_scl
		     &rm_io14_i2c0_sda>;

	gt911@14 {
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_gpio>;
		touch-gpio = <&gpio3 RK_PB1 IRQ_TYPE_LEVEL_LOW>;
		reset-gpio = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
		max-x = <800>;
		max-y = <480>;
	    tp-size = <9110>;
		status = "okay";
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io19_i2c1_scl
		     &rm_io20_i2c1_sda>;
	
	bq25895: charger@6a {
		compatible = "ti,bq25895", "ti,bq25890";
		reg = <0x6a>;
		pinctrl-names = "default";
		pinctrl-0 = <&charger_gpio>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC2 IRQ_TYPE_EDGE_FALLING>;
		ti,battery-regulation-voltage = <4200000>; /* 4.2V */
		ti,charge-current = <2000000>; /* 2A */
		ti,termination-current = <66000>;  /* 66mA */
		ti,precharge-current = <130000>; /* 130mA */
		ti,minimum-sys-voltage = <3000000>; /* 3V */
		ti,boost-voltage = <5000000>; /* 5V */
		ti,boost-max-current = <1600000>; /* 1600mA */
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io17_i2c2_scl
		     &rm_io16_i2c2_sda>;

	cs43198_1: audio-codec@33 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "cirrus,cs43198";
		reg = <0x33>;
		clocks = <&mclkout_sai3>;
		clock-names = "mclk";
		assigned-clocks = <&mclkout_sai3>;
		assigned-clock-rates = <24576000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sai3_mclk_pins>;
		// pinctrl-0 = <&dac_gpio &sai3_mclk_pins>;
		// interrupt-parent = <&gpio0>;
   		// interrupts = <RK_PB4 IRQ_TYPE_EDGE_FALLING>;
	};

	// cs43198_2: audio-codec@30 {
	// 	compatible = "cirrus,cs43198";
	// 	reg = <0x30>;
	// };
};

&mmc {
	max-frequency = <150000000>;
	supports-sd;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins &sd_det>;
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rng {
	status = "okay";
};

&rockchip_suspend {
	rockchip,sleep-mode-config = <
		(0
		| RKPM_ARMOFF_DDRPD
		| RKPM_24M_OSC_DIS
		| RKPM_32K_CLK
		| RKPM_32K_SRC_RC
		| RKPM_PWM0_CH0_REGULATOR
		)
	>;

	rockchip,apios-suspend = <
		(0
		| RKPM_PWREN_CORE_GPIO0A2 | RKPM_PWREN_CORE_ACT_LOW
		| RKPM_PWREN_SLEEP_GPIO0A0 | RKPM_PWREN_SLEEP_ACT_LOW
		)
	>;
};

&sai3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sai3_lrck_pins
				&sai3_sclk_pins
				&sai3_sdo_pins>;
};

&sai4 {
	status = "okay";
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&tsadc {
	status = "okay";
};

&u2phy_otg0 {
	vbus-supply = <&vcc5v0_otg0>;
	rockchip,vbus-always-on;
	status = "okay";
};

&u2phy_otg1 {
	phy-supply = <&vcc5v0_otg1>;
	status = "okay";
};

&usb2phy {
	status = "okay";
};

&usb20_otg0 {
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&display_subsystem {
	logo-memory-region = <&drm_logo>;
	status = "okay";
};

&pwm0_4ch_0 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io21_pwm0_ch0>;
	status = "okay";
};

&pwm0_4ch_2 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io13_pwm0_ch2>;
	status = "okay";
};

&rgb {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rgb888_pins>;

	ports {
		rgb_out: port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			rgb_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_rgb>;
			};
		};
	};
};

&rgb_in_vop {
	status = "okay";
};

&route_rgb {
	status = "okay";
	connect = <&vop_out_rgb>;
};

&vop {
	status = "okay";
};